.ani{
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.cssanimation, .cssanimation span {
    animation-duration: 3s;
    animation-fill-mode: both;
}

.add p, .add2 p{
  padding: 0!important;
  margin-top: 3px!important;
}

.add .add2{
  display: flex!important;
  align-items: center!important;
}

.hu__hu__ { animation: hu__hu__ infinite 3s ease-in-out }
@keyframes hu__hu__ {
    50% { transform: translateY(10px) }
}

.rap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ani img {
  position: relative;
  left: -20px;
  transition: transform 0.34s ease-in-out; /* Adjust the duration and easing as needed */
  display: none;
}

.ani:hover img {
  transform: translateX(30px); /* Adjust the distance the arrow moves to the right */
  display: inline-block;
   transition: transform 2s ease-in-out
}


.flip-card {
  background-color: transparent;
  width: 350px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

 
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #ffffff;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  
}

/* Style the back side */
.flip-card-back {
  background-color: #198754;
  color: white;
  transform: rotateY(180deg);
  display: grid;
  place-items: center;
  padding: 10px;
   
}

.flip-card-back p{
  font-weight: 100;
  font-family:  'Open Sans', sans-serif;;
}


.w3-modal-content{
  width: 400px;
  margin-top: 60px;
}



    .testi-rowa{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .testi-column{
        flex-basis: 30%;
        padding: 10px;
        margin-bottom: 30px;
        border-radius: 5px;
        box-shadow: 0 10px 20px 3px #19875431;
        cursor: pointer;
        transition: transform .5s;
        height: auto;
        aspect-ratio: 3/2;
    }



    .testi-column p{
        font-size: 13px;
    }

    .user{
        display: flex;
        align-items: center;
        margin: 20px 0;

    }

    .user img{
        width: 50px;
        margin-right: 20px;
        border-radius: 3px;
    }

    .user-info img{
        margin-left: 10px;
      width: 15px;


    }

    .user-info small{
        color: #198754;
    }

    .testi-column:hover{

        transform: translateY(-9px);
    }

   


       @media screen and (max-width: 768px){
        .testi-column{
            flex-basis: 100%;
        }

        
    

    }

    .active{
    color: #0f9d0d!important;
}


    .touch{
           width:100%;
    padding: 80px 16px;
    }

    .touch h1{
      text-align: center;
    }
    .touch p{
      text-align: center;
    }


.touch img{
  margin-bottom: 30px;
}

    form label{
        font-size: 13px;
       font-weight: 600;
      margin-bottom: 2px;
    }

    form ::placeholder{
           font-size: 10px;
    }
      .namedetails{
        display: flex;
         width: 100%;
      }

       .name{
            width: 48%;
             }
            .last{
                  width: 48%;
               margin: 0 7px;
               }

               form button{
                margin-top: 7px;
               }


.fc-icon {
  font-size: 10px; /* Adjust icon size */
}



.fc-event-container {
  border-radius: 5px; /* Rounded corners for event containers */
}

.fc-day, .fc-day-top {
  background-color: #ffffff; /* Background color of day cells */
}

.fc-event {
  background-color: #4caf50; /* Event background color */
  color: #ffffff; /* Event text color */
  border-color: #388e3c; /* Event border color */
}

#calendar {
  max-width: 600px; /* Set a maximum width for the calendar */
  margin: 0 auto; 
  font-size: 13px;
  color: #00345b;

  /* Center the calendar on the page */
}

.fc-toolbar {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px; /* Background color of the toolbar */
}


.fc-footer {
  background-color: #f0f0f0; /* Background color of the footer */
}
.fc {
  background-color: #ffffff; /* Background color of the calendar */
  color: #333333; /* Text color */
  
  padding: 10px;
}

.Event{
      font-size: 48px;
   }


@media screen and (max-width: 600px) {

  .w3-modal-content{
  width: 300px;
  padding: 15px;
  margin-top: 100px;
}

     .namedetails{
       width: 100%;
        flex-direction: column;
        padding: 0!important;
        align-items: center;
  
      }

        .name{
            width: 100%;
            margin: 7px 0;
            
             }
            .last{
                  width: 100%;
                  margin: 7px 0;
              
               }

         .name input{
          margin: 0;
         }
         .last input{
          margin: 0;
         }

    form{
      width: 100%;
      padding-top: 30px;
      padding: 0!important;
    }

    form button{
      margin-top: 10px;
    }


.touch img{
  margin-bottom: 30px;
}
}
